@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #44223E;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #43232D;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #603160;
}
header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #e0ffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
header nav a:hover,
header nav a.active {
  background: #efc1ce;
  color: #42455a;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #43232D;
  background: #efc1ce;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #43232D;
  background: #efc1ce;
}
section:nth-child(5) {
  color: #e0ffff;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #EF5D60;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.contain {
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.contain .card {
  position: relative;
  border-radius: 10px;
}

.contain .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.contain .card:nth-child(1) .icon {
  background: #0f0f0f;
}

.contain .card:nth-child(2) .icon {
  background: #185fbc;
}

.contain .card:nth-child(3) .icon {
  background: #dfac6f;
}


.contain .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.contain .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.contain .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.contain .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.contain .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.contain .card:hover .face.face1 .content {
  opacity: 1;
}

.contain .card .face.face1 .content i{
  max-width: 100px;
}

.contain .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.contain .card:hover .face.face2{
  transform: translateY(0);
}

.contain .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.contain .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.contain a {
  text-decoration: none;
  color: #414141;
}
